# ---------Mongo DB Details---------
# MONGO_DB_URL="Your Database URL"
# DATABSE="Database Name"

# DATA_FILE_PATH="Main data file path"
# DATA_COLLECTION="Collection name for Mongo DB"

# BATCH_FILE_PATH="Batch data file path for batch prediction"
# BATCH_COLLECTION="Collection name for Mongo DB"